<!DOCTYPE html>
<html>
<head>
  <title>Welcome to xcui</title>
  <link rel="stylesheet" href="https://unpkg.com/xcui/lib/xcui.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/xcui/lib/xcui.umd.js"></script>
  <style>
    #app {
      font-family:  Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
      margin-top: 80px;
    }

    h1, h2 {
      font-weight: normal;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      display: block;
      margin: 15px;
    }

    a {
      color: #42b983;
    }
  </style>
</head>
<body>
  <div id="app">
    <img src="https://raw.githubusercontent.com/wmfe/xcui/2.0/demos/assets/xcui-logo.png" alt="xcui logo">
    <h1>\{{ greeting }}</h1>
    <ul>
      <li>
        <x-button type="primary" @click="welcome"> Hello World </x-button>
      </li>
      <li>
        Xcui is a collection of Vue.js 2.x desktop components collection.
      </li>
      <li>
        To learn more about xcui, visit
        <a :href="docsURL" target="_blank">
          \{{ humanizeURL(docsURL) }}
        </a>
      </li>
      <li>
        Github:
        <a :href="docsURL" target="_blank">
          \{{ humanizeURL(repoURL) }}
        </a>
      </li>
    </ul>
  </div>

  <script>
    Vue.use(xcui);
    new Vue({
      el: '#app',
      data: {
        greeting: 'Welcome to your Vue.js & xcui app!',
        docsURL: 'https://wmfe.github.io/xcui/',
        repoURL: 'https://github.com/wmfe/xcui',
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        welcome() {
          this.$Message.info('Hello World!')
        }
      }
    })
  </script>
</body>
</html>
